<a href ="/restaurants/new">Add a Restaurant</a>
<a href ="/users/new">Add a User</a>
<a href ="/restaurants">See all Restaurants</a>
<a href ="/users">See all Users</a>

<form action="/users" method="POST">
<h1>Sign Up</h1>
  <label for="name">Name: </label>
  <input type="text" name="name" id="name" />
  <br><br><input type="submit" value="Submit" />
</form>
